/*==================================
             SWIPER
===================================*/
/* remove styles from the list */
ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Swiper styles */
.swiper-container {
  max-width: 100%;
}

.swiper-slide {
  text-align: center;

  /* remove this if you want 1 slide perview - than change slidesPerView js-option to 1 instead of auto */
  width: 80%;
}

.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}

/*==================================
         CODE PEN STYLES
===================================*/
html {
  font-family: "Roboto", sans-serif;
}

#docs h3 {
  margin-bottom: 0px;
  webkit-margin-after: 0em;
}

#docs ol li:not(:first-of-type) {

  border-top: thin solid rgba(203, 202, 204, 1);
}

#docs p {
  -webkit-margin-before: 1em;
  line-height: 22px;
  font-size: 0.9em;
}
code {
  padding: 0;
  padding: 3px 5px;
  margin: 0;
  background: #f2f2f2;
  border-radius: 2px;
}

h1 + p {
  font-size: 0.9em;
  text-align: center;
  max-width: 850px;
  margin: 20px auto;
}
h1 {
  font-weight: 900;
  font-size: 1.7em;
  text-align: center;
}
h2 {
  font-size: 16px;
  color: #333333;
  direction: ltr;
}
img {
  width: 100%;
  height: auto;
}
#docs ol li {
  margin-bottom: 12px;
}
body {
  max-width: 960px;
  margin: 0px auto;
  padding: 15px;
}

a {
  color: #4285f4;
}
